<div class="row col-12 mt-2">
    <!-- RADIOBUTTONS -->
    <fieldset class="row col-12 mb-3">
      <legend class="col-6 col-form-label pt-0 text-end">¿Ha participado antes en algún torneo de Artes Marciales?:</legend>
      <div class="col-6 d-flex justify-content-start">
        <!-- Check 1 -->
        <div class="form-check-inline">
          <input 
            class="form-check-input" 
            type="radio" 
            name="option" 
            id="option1" 
            [(ngModel)]="option" 
            [value]="true" 
            (ngModelChange)="clear()">
          <label class="ms-1" for="option1">Si</label>
        </div>
        <!-- Check 2 -->
        <div class="form-check-inline">
          <input 
            class="form-check-input" 
            type="radio" 
            name="option" 
            id="option2" 
            [(ngModel)]="option" 
            [value]="false" 
            (ngModelChange)="clear()">
          <label class="ms-1" for="option2">No</label>
        </div>
      </div>
    </fieldset>
    <!-- FORM -->
      <form>
        <!-- INPUTS SI -->
        <div *ngIf="option" class="row budokai_yes" name="DIV_1">
          <div class="col-8">
            <h3>SI HE PARTICIPADO</h3>
            <!-- Participante -->
            <div class="row mb-3">
              <label for="inputParticipante" class="col-sm-2 col-form-label">Participante</label>
              <div class="col-sm-10">
                <select class="w-100 p-2" id="floatingSelect" [(ngModel)]="participanteSeleccionadoId" name="participanteSeleccionadoId">
                  <option [ngValue]="null">Elije tu nombre</option>
                  <option *ngFor="let participante of participantes" [ngValue]="participante.id">{{ participante.name }}</option>
                </select>       
              </div>
            </div>
            <!-- Universo -->
            <div class="row mb-3">
              <label for="inputUniverso" class="col-sm-2 col-form-label">Universo</label>
              <div class="col-sm-10">
                <input #inputUniverso
                  type="text" 
                  class="form-control" 
                  id="inputUniverso" 
                  [value]="getUniversoById(participanteSeleccionadoId)" 
                  [readonly]="true"
                >
              </div>
            </div>
              <!-- Planeta -->
              <div class="row mb-3">
                <label for="inputPlaneta" class="col-sm-2 col-form-label">Planeta</label>
                <div class="col-sm-10">
                  <input #inputPlaneta
                    type="text" 
                    class="form-control" 
                    id="inputPlaneta" 
                    [value]="getPlanetaById(participanteSeleccionadoId)" 
                    [readonly]="true"
                  >
                </div>
              </div>
              <!-- Poder de pelea -->
              <div class="row mb-3">
                <label for="inputPoderPelea" class="col-sm-2 col-form-label">Poder de pelea</label>
                <div class="col-sm-10">
                  <input #inputPoderPelea
                    type="text" 
                    class="form-control" 
                    id="inputPoderPelea" 
                    [value]="getPoderById(participanteSeleccionadoId)" 
                    [readonly]="true"
                  >
                </div>
              </div>            
          </div>
          <!-- FOTO -->
          <div class="col">
              <img [src]="getFotoByParticipanteId(participanteSeleccionadoId)" alt="Foto del Participante" class="img-fluid img-participante">
          </div>
        </div>

        <!-- INPUTS NO -->
        <div *ngIf="!option" class="row budokai_no" name="DIV_2">
          <div class="col-xl-8">
            <h3>NO HE PARTICIPADO</h3>
            <!-- Participante -->
            <div class="row mb-3">
              <label for="inputNombreNuevo" class="col-sm-2 col-form-label">Nombre</label>
              <div class="col-sm-10">
                <input #inputNombreNuevo
                  type="text"
                  class="form-control" 
                  id="inputParticipante" 
                  [value]="getUniversoById(participanteSeleccionadoId)"
                >
              </div>
            </div>
            <!-- Universo -->
            <div class="row mb-3">
              <label for="inputUniverso" class="col-sm-2 col-form-label">Universo</label>
              <div class="col-sm-10">
                <input #inputUniverso
                  type="text" 
                  class="form-control" 
                  id="inputUniverso" 
                  [value]="getUniversoById(participanteSeleccionadoId)"
                >
              </div>
            </div>
            <!-- Planeta -->
            <div class="row mb-3">
              <label for="inputPlaneta" class="col-sm-2 col-form-label">Planeta</label>
              <div class="col-sm-10">
                <input #inputPlaneta
                  type="text" 
                  class="form-control" 
                  id="inputPlaneta" 
                  [value]="getPlanetaById(participanteSeleccionadoId)"
                >
              </div>
            </div>
            <!-- Poder de pelea -->
            <div class="row mb-3">
              <label for="inputPoderPelea" class="col-sm-2 col-form-label">Poder de pelea</label>
              <div class="col-sm-10">
                <input #inputPoderPelea
                  type="text" 
                  class="form-control" 
                  id="inputPoderPelea" 
                  [value]="getPoderById(participanteSeleccionadoId)"
                >
              </div>
            </div>   
          </div>       
          <!-- FOTO -->
          <div class="col-xl-4">
            <img alt="Foto" class="img-fluid img-participante" src="../../../assets/img/logo_budokai_empty.png">
          </div>  
          <!-- CHECKBOX -->
          <div class="row mb-3">
            <div class="col-xl-8">
              <div class="form-check">
                <label class="d-flex justify-content-start" for="gridCheck1">Soy consciente de que durante el torneo puedo perder la vida, no responsabilizaré a la organización ni a ninguno de sus miembros por este motivo.</label>              
              </div>
            </div>
            <div class="col">
              <input type="checkbox" id="gridCheck1">
            </div>
          </div>
          </div>

        <!-- BUTTONS -->
        <div class="row">
          <div class="col-xl-8">
            <button type="submit" class="btn btn-primary">¡Inscribirme!</button>
            <button type="submit" class="btn btn-danger ms-3" (click)="clear()">¡Mejor no!</button>
          </div>
          <div class="col-xl-4"></div>
        </div>
      </form>
</div>