<div class="row col-12 mt-2">
    <!-- RADIOBUTTONS -->
    <fieldset class="row col-12 mb-3">
      <legend class="col-6 col-form-label pt-0 text-end">¿Ha participado antes en algún torneo de Artes Marciales?:</legend>
      <div class="col-6 d-flex justify-content-start">
        <!-- Check 1 -->
        <div class="form-check-inline">
          <input 
            class="form-check-input" 
            type="radio" 
            name="option" 
            id="option1" 
            [(ngModel)]="option" 
            [value]="true" 
            (change)="onOptionChange()">
          <label class="ms-1" for="option1">Si</label>
        </div>
        <!-- Check 2 -->
        <div class="form-check-inline">
          <input 
            class="form-check-input" 
            type="radio" 
            name="option" 
            id="option2" 
            [(ngModel)]="option" 
            [value]="false" 
            (change)="onOptionChange()">
          <label class="ms-1" for="option2">No</label>
        </div>
      </div>
    </fieldset>
    <!-- FORM -->
      <form [formGroup]="inscripcionForm">
        <!-- INPUTS SI -->
        <div *ngIf="option" class="row budokai_yes" name="DIV_1">
          <div class="col-xl-8">
            <h3>SI HE PARTICIPADO</h3>
            <!-- Participante -->
            <div class="row mb-3">
              <label for="inputParticipante" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Participante:</label>
              <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                <select 
                  #inputParticipanteAntiguo
                  class="w-75 h-75 d-flex text-center bg-warning-subtle" 
                  id="floatingSelect" 
                  formControlName="participante"
                  name="participanteSeleccionadoId">
                  <option [ngValue]="null">Elije tu nombre</option>
                  <option *ngFor="let participante of participantes" [ngValue]="participante.id">{{ participante.name }}</option>
                </select>       
              </div>
            </div>
            <!-- Universo -->
            <div class="row mb-3">
              <label for="inputUniverso" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Universo:</label>
              <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                <input #inputUniverso                  
                  type="text" 
                  class="form-control w-75 h-75 text-center bg-warning-subtle" 
                  id="inputUniverso" 
                  [value]="getUniversoById()" 
                  [readonly]="true"
                  placeholder="Elige un participante para ver"
                >
              </div>
            </div>
              <!-- Planeta -->
              <div class="row mb-3">
                <label for="inputPlaneta" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Planeta:</label>
                <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                  <input #inputPlaneta
                    type="text" 
                    class="form-control w-75 h-75 text-center bg-warning-subtle" 
                    id="inputPlaneta" 
                    [value]="getPlanetaById()" 
                    [readonly]="true"
                    placeholder="Elige un participante para ver"
                  >
                </div>
              </div>
              <!-- Poder de pelea -->
              <div class="row mb-3">
                <label for="inputPoderPelea" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Poder de pelea:</label>
                <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                  <input #inputPoderPelea
                    type="text" 
                    class="form-control w-75 h-75 text-center bg-warning-subtle" 
                    id="inputPoderPelea" 
                    [value]="getPoderById()" 
                    [readonly]="true"
                    placeholder="Elige un participante para ver"
                  >
                </div>
              </div>            
          </div>
          <!-- FOTO -->
          <div class="col-xl-4">
              <img [src]="getFotoByParticipanteId()" alt="Foto del Participante" class="img-fluid img-participante">
          </div>
        </div>

        <!-- INPUTS NO -->
        <div *ngIf="!option" class="row budokai_no" name="DIV_2">
          <div class="col-xl-8">
            <h3>NO HE PARTICIPADO</h3>
            <!-- Participante -->
            <div class="row mb-3">
              <label for="inputNombreNuevo" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Nombre:</label>
              <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                <input #inputNombreNuevo
                  formControlName="nombre"
                  type="text"
                  class="form-control w-75 h-75 text-center" 
                  id="inputParticipante" 
                  [value]="getUniversoById()"
                  placeholder="Ingresa tu nombre"
                >
              </div>
            </div>
            <!-- Universo -->
            <div class="row mb-3">
              <label for="inputUniverso" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Universo:</label>
              <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                <input #inputUniverso
                  formControlName="universo"
                  type="text" 
                  class="form-control w-75 h-75 text-center" 
                  id="inputUniverso" 
                  [value]="getUniversoById()"
                  placeholder="Ingresa tu universo"
                >
              </div>
            </div>
            <!-- Planeta -->
            <div class="row mb-3">
              <label for="inputPlaneta" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Planeta:</label>
              <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                <input #inputPlaneta
                  formControlName="planeta"                
                  type="text" 
                  class="form-control w-75 h-75 text-center" 
                  id="inputPlaneta" 
                  [value]="getPlanetaById()"
                  placeholder="Ingresa tu Planeta"
                >
              </div>
            </div>
            <!-- Poder de pelea -->
            <div class="row mb-3">
              <label for="inputPoderPelea" class="col-xl-3 col-sm-2 col-form-label text-xl-end">Poder de pelea:</label>
              <div class="col-xl-9 col-sm-10 d-flex justify-content-center justify-content-sm-start">
                <input #inputPoderPelea
                  formControlName="poderPelea"
                  type="text" 
                  class="form-control w-75 h-75 text-center" 
                  id="inputPoderPelea" 
                  [value]="getPoderById()"
                  placeholder="Ingresa tu nivel de pelea"
                >
              </div>
            </div>   
          </div>       
          <!-- FOTO -->
          <div class="col-xl-4">
            <img alt="Foto" class="img-fluid img-participante" src="../../../assets/img/logo_budokai_empty.png">
          </div>  
          <!-- CHECKBOX -->
          <div class="row mb-3">
            <div class="col-xl-8">
              <div class="form-check">
                <label class="d-flex justify-content-start" for="gridCheck1">Soy consciente de que durante el torneo puedo perder la vida, no responsabilizaré a la organización ni a ninguno de sus miembros por este motivo.</label>              
              </div>
            </div>
            <div class="col">
              <input type="checkbox" id="gridCheck1" class="d-xl-flex justify-content-center mt-2">
            </div>
          </div>
          </div>

        <!-- BUTTONS -->
        <div class="row">
          <div class="col-xl-8 mt-4 mb-4">
            <button type="submit" class="btn btn-primary">¡Inscribirme!</button>
            <button type="submit" class="btn btn-danger ms-3" (click)="clear()">¡Mejor no!</button>
          </div>
          <div class="col-xl-4"></div>
        </div>
      </form>
</div>