body{
    background-image: url('../src/assets/img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.text-shadow {
    text-shadow: 2px 2px 4px rgba(10, 10, 10, 15); 
  }